body {
  background-color: #424351;
}

h1,
h3 {
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  text-decoration: none !important;
  padding: 20px;
  display: flex;
}

ul li {
  text-decoration: none !important;
  color: white !important;
  padding: 5px;
  font-size: medium;
}

.header-navigation {
  background-color: #585968;
  text-decoration: white !important;
  padding-top: 2px;
}

.footer-navigation {
  background-color: #f43a1c;
  text-decoration: none !important;
}

#header-list {
  justify-content: space-between;
}

#footer-list {
  justify-content: space-around;
}

