body {
  background-color: #424351;
}

.Button {
  color: #f43a1c;
}

h1,
h3 {
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  text-decoration: none !important;
  padding: 10px;
  display: flex;
}

ul li {
  text-decoration: none !important;
  color: white !important;
  padding: 5px;
  font-size: medium;
}

.header-navigation {
  margin-top: -20px;
  background-color: #585968;
  text-decoration: white !important;
}

#footer-navigation {
  justify-content: space-around;
}

#header-list {
  justify-content: space-between;
}

#paper-styles {
  justify-content: center;
  margin: auto;
}
