body {
background-color: #424351;

}

h1, h3 {
  color: white;
  text-align: center;
}


ul {
  list-style-type: none;
  text-decoration: none !important;
  padding: 20px;
  display: flex;
  justify-content: center;
}

ul li {
  text-decoration: none !important;
  color: white !important;
  padding: 5px;
  font-size: medium;
}

.header-navigation {
  background-color: #F43A1C;
  text-decoration: none !important;
}

